:root {
  --font-display: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
  --color-brownie: #2c0c00;
  --color-ocher: #cf6f4a;
}

.font-playfair {
  font-family: var(--font-display);
}
